nav {
    // background-color: rgb(155, 107, 155);
    background-color: rgba(37, 82, 82, 0.884);
    ul {
        display: flex;
        justify-content: flex-end;
        margin-right: 3rem;
        li {
            padding: 0.5rem 1rem;
            a {
                font-size: 1.5rem;
                color: white;
            }
        }
    }
}

@media screen and (max-width:600px) {
    nav {
        ul {
            justify-content: space-around;
            margin-right: 0rem;
        }
    }
}