* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-family: 'Noto Sans TC', sans-serif;
    font-family: 'Roboto', sans-serif;
    background-color: rgba(130, 138, 160, 0.171);
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
}

.morePicture {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    button {
        padding: 0.25rem 0.5rem;
        font-size: 2rem;
        border: none;
        // background-color: rgb(73, 0, 73);
        background-color: rgb(25, 68, 68);
        color: white;
        cursor: pointer;
    }
}

@media screen and (max-width:500px) {
    .morePicture {
        button {
            width: 60%;
            padding: 0.25rem 0.5rem;
            font-size: 1.75rem;
            cursor: pointer;
        }
    }
}

@import "./nav";
@import "./search";
@import "./footer";
@import "./picture"